html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Otomanopee One';
  src: url("../fonts/OtomanopeeOne-Regular.eot");
  src: url("../fonts/OtomanopeeOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OtomanopeeOne-Regular.woff2") format("woff2"), url("../fonts/OtomanopeeOne-Regular.woff") format("woff"), url("../fonts/OtomanopeeOne-Regular.svg#OtomanopeeOne-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper .left-block {
  width: 400px;
  height: 400px;
  background-color: #EE82EE;
}

.wrapper .left-block .title-block {
  font-size: 30px;
  font-family: "Uchen", serif;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.wrapper .left-block .title-block:hover {
  color: #fff;
}

.wrapper .right-block {
  width: 400px;
  height: 400px;
  background-color: #32de84;
}

.wrapper .right-block .title-block2 {
  font-size: 30px;
  font-family: "Otomanopee One";
  border-width: 2px;
  border-style: solid;
  border-color: black;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.wrapper .right-block .title-block2:hover {
  color: red;
}

.wrapper-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-box .text1 {
  font-size: 30px;
  font-family: "Otomanopee One";
}

.wrapper-box .text1:nth-child(1) {
  color: midnightblue;
}

.wrapper-box .text1:nth-child(1):hover {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  color: red;
}

.wrapper-box .text1:nth-child(2) {
  color: teal;
}

.wrapper-box .text1:nth-child(2):hover {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  color: black;
}
/*# sourceMappingURL=global.css.map */